<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>
    <ul id="messages">
        <% messages.forEach(function(msg) { %>
            <li><%= msg.content %></li>
        <% }) %>
    </ul>
    <form id="form">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
